.top {
  margin-bottom: 10px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;

  img {
    margin: 10px;
    max-width: 100%;
  }
}

.image-source {
  display: flex;
  flex-direction: column;

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 0 10px 10px 10px;
  }

  &__toggle {
    margin-right: 20px;
  }
}

.webcam-capture {
  position: relative;
  display: flex;
  justify-content: center;

  &__button {
    position: absolute;
    bottom: 8px;
    left: 35%;
    width: 30%;
  }
}

.hcenter {
  display: flex;
  justify-content: center;
}

.progress-bar {
  margin: 6px;
  height: 8px;
}

app-image-cropper,
.cropped-image {
  padding: 5px;
  width: 50%;
  max-width: 600px;
}

.parameters-card {
  width: 60%;
}

.parameters-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.make-form {
  margin: 20px 0;

  &__button {
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .top {
    img {
      margin: 0 0 5px 0;
      max-width: 100%;
      width: 100%;
    }
  }

  .parameters-card {
    width: 100%;
    margin: 5px;
  }
  .parameters-form {
    width: 100%;
  }

  .hcenter {
    flex-direction: column;
    align-items: center;
  }

  app-image-cropper,
  .cropped-image {
    padding: 5px;
    width: 100%;
    max-width: 100%;
  }
}
