<div class="top">
  <img src="assets/logo.png" />
</div>

<mat-card *ngIf="imageChangedEvent" class="rotation-input">
  <form [formGroup]="parametersForm">
    <label>Rotation</label>
    <mat-slider min="-45" max="45" formControlName="rotation"></mat-slider>

    <mat-checkbox formControlName="roundCropper">Round?</mat-checkbox>
  </form>
</mat-card>

<div class="images">
  <input
    *ngIf="!imageChangedEvent; else cropper"
    type="file"
    (change)="onImageChanged($event)"
  />
  <ng-template #cropper>
    <app-image-cropper
      [maintainAspectRatio]="true"
      [roundCropper]="parametersForm.value.roundCropper"
      [cropperRotation]="parametersForm.value.rotation"
      [aspectRatio]="2 / 2.5"
      [imageChangedEvent]="imageChangedEvent"
      (imageCropped)="onImageCropped($event)"
    ></app-image-cropper>
  </ng-template>

  <img class="cropped-image" [src]="drosteImage" />
</div>
