.top {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin: 10px;
    max-width: 100%;
  }
}
.images {
  display: flex;
  justify-content: center;
}

app-image-cropper,
.cropped-image {
  padding: 5px;
  width: 50%;
  max-width: 600px;
}

.rotation-input {
  margin: 5px;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .top {
    img {
      margin: 0 0 5px 0;
      max-width: 100%;
    }
  }

  .rotation-input {
    width: 100%;
  }

  .images {
    flex-direction: column;
    align-items: center;
  }
}
