<div class="top">
  <img src="assets/logo.png" />
</div>

<div *ngIf="!imageChangedEvent && !imageBase64" lass="image-source">
  <div class="image-source__buttons">
    <mat-button-toggle-group
      class="image-source__toggle"
      [formControl]="imageSource"
    >
      <mat-button-toggle value="upload">Upload</mat-button-toggle>
      <mat-button-toggle value="camera">Camera</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="webcam-capture">
    <webcam
      *ngIf="imageSource.value === 'camera'; else upload"
      [trigger]="webcamCapture$"
      (imageCapture)="onWebcamImageCapture($event)"
    ></webcam>
    <button
      #captureButton="matButton"
      *ngIf="imageSource.value === 'camera'"
      mat-raised-button
      class="webcam-capture__button"
      color="accent"
      (click)="webcamCapture$.next()"
    >
      Capture
    </button>
  </div>
  <ng-template #upload>
    <input matInput type="file" (change)="onImageChanged($event)" />
  </ng-template>
</div>

<div class="hcenter">
  <mat-card *ngIf="imageChangedEvent || imageBase64" class="parameters-card">
    <form [formGroup]="parametersForm" class="parameters-form">
      <div>
        <label>Rotation</label>
        <mat-slider min="-45" max="45" formControlName="rotation"></mat-slider>
      </div>

      <mat-checkbox formControlName="roundCropper">Round?</mat-checkbox>

      <button mat-raised-button color="warn" (click)="onStartOver()">Start over</button>
    </form>
  </mat-card>
</div>

<div *ngIf="imageChangedEvent || imageBase64" class="hcenter">
  <app-image-cropper
    [maintainAspectRatio]="false"
    [roundCropper]="parametersForm.value.roundCropper"
    [cropperRotation]="parametersForm.value.rotation"
    [imageChangedEvent]="imageChangedEvent"
    [imageBase64]="imageBase64"
    (imageCropped)="onImageCropped($event)"
  ></app-image-cropper>

  <img class="cropped-image" [src]="drosteImage" />
</div>
<div *ngIf="drosteImage" class="hcenter make-button">
  <button mat-raised-button color="primary" (click)="onMakeMug()">Make my mug</button>
</div>
